html, body {
  height: 100%;
  background: #FFCCE5;
  /* background: transparent; */
	font-size: 1em;
}
.navigate {
	position: fixed;
	z-index: 9999;
	bottom: 0px;
	left: 10px;
}
.navigate a {
	display: block;
	font-size: 3em;
}

div.frenchVersion {
	display: none;
	border: 2px solid #000;
	border-radius: 15px;
	width: 80%;
	position: absolute;
	background: #FFF;
	left: 5%;
	top: 5%;
	padding: 10px;
}

.loginForm {
	border: 2px solid #000;
	border-radius: 20px;
	padding: 20px;
	margin: 20px;
	background-color: #5A5A5A;
	color: #FFF;
}
.loginForm .btn {
	color: #000;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
  /* Pad bottom by footer height */
  padding: 0 0 30px;
  border-left: 10px solid #313131;
  border-right: 10px solid #313131;
}
#masthead, #content {
  padding: 3px 10px;
}
#bgtitle {
  position: absolute;
  top: 0;
  left: 12px;
  font-size: 86px;
  z-index: 0;
  transform: scale(1);
  transform-origin: 0 0;
  color: #FFF;
	filter: alpha(opacity=20);
  opacity: 0.2;
}
#masthead {
  height: 90px;
  background-image: url('../img/logo-small.png');
  background-repeat: no-repeat;
  background-position: 98%;
  background-color: #313131;
  background-size: contain;
}

#masthead > ul, #masthead button, #masthead .myButton {
	margin-left: 37px;
  position: relative;
  z-index: 10;
}
#masthead > ul > li, #masthead .myButton, #masthead button {
  position: relative;
  display: inline;
  z-index: 50;
}

#masthead a.btn, #masthead div.btn-group button {
  font-family: "Helvetica Neue", Arial, sans-serif; 
  font-weight: bold; 
  text-transform: uppercase; 
  color: #FFF; 
  display: block;
  float: left;
  margin: 0 0 0 1px;
  padding: 48px 6px 15px 6px;
  border-radius: 10px 0px 10px 0px;
}
#masthead div.btn-group button {
  background: transparent;
  border: none;
  padding-top: 44px;
}
#masthead div.btn-group ul li a {
  font-family: "Helvetica Neue", Arial, sans-serif; 
  font-weight: bold; 
}
@keyframes myfade
{
  from {
    background: #313131;
    color: #FFF;
    border-radius: 30px 30px 30px 30px;
    padding-top: 48px;
    padding-bottom: 15px;
  }
  to {
    background: #FFF;
    color: #313131;
    border-radius: 10px 0px 10px 0px;
    padding-top: 38px;
    padding-bottom: 25px;
  }
}
#masthead div.btn-group button.on {
  color: #313131; 
  background: #FFC;
} 

#masthead a.btn:hover:not(.on), #masthead > ul > li > a:hover:not(.on), #masthead .myButton:hover, #masthead button a:hover:not(.on), #masthead div.btn-group button:hover {
  animation: myfade 0.5s;
  animation-fill-mode: forwards;
}
#masthead a.btn:hover, #masthead a.btn.on, #masthead > ul > li > a:hover, #masthead a.on, #masthead button a:hover, #masthead button a.on, #masthead div.btn-group button:hover  {
  color: #313131; 
  background: #FFC;
}
~masthead a.btn.on, #masthead > ul > li > a.on, #masthead button a.on {
  padding-top: 38px;
  padding-bottom: 25px;
}

.selected-left {
  border-left: 3px solid #000;
}

#content {
	color: #333; 
  padding: 5px 30px 0px 30px;
}

#content a {
  /*
 color: #313131;
 */
}
#content a:hover {
  /*
  background-color: #f00076; 
  color: #FFF; 
  text-decoration: none; 
  */
}

.tabList li {
  z-index:10;
  cursor: pointer;
  padding: 2px 8px;
}
.tabList li.active {
  border: 1px solid #5A4E4E;
  border-radius: 10px 0px 10px 0px;
  background: #5A4E4E;
  color: #FFF;
}
.tabList li.active a {
  color: #FFF;
}
.tabList li a {
  color: #313131;
}
table a {
  color: #000;
}
.push, footer {
  height: 30px;
}
footer {
	font-size: 12px; 
  background: #313131;
  padding: 0 20px;
}
footer p, footer a {
  color: #FFF; 
}
footer a:hover {
  text-decoration: underline; 
}
.mapBox, .map {
  z-index: 1;
  border: 2px solid #000;
}
.leaflet-top, .leaflet-bottom {
  z-index: 1;
}
#freeWorldList {
  margin-top: 5px;
}
.backendLink {
	position: absolute;
	top: 0;
	left: 0; 
	padding: 5px 6px; 
	background: #DB1174; 
	color: #FFF; 
	display: block;
	font-weight: bold; 
  z-index: 100;
}
.backendLink a {
  color: #FFF;
}
#editpage:hover {
  background: #FFC;
  color: #000; 
}
/**
 * WireFatalError is a class that ProcessWire will use to output
 * fatal errors in the design, but only if debug mode is on, or if
 * you are logged in as a superuser. 
 *
 */
.WireFatalError {
	background: #a30000; 
	color: #fff; 
	padding: 1em; 
	position: relative;
	z-index: 9999;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #5A4E4E;
  padding: 10px;
}
.nav-tabs {
  margin-bottom: 0;
}
.nav-tabs li.active a {
}
td, th {
  text-align: center;
}
th {
 cursor: pointer;
}
td:not('.report') ul {
  position: absolute;
}
td img {
  float: right;
}
table.report td {
  font-size: 1.4em;
}
table.report td h3 {
  margin: 0px;
}
.avatarContainer {
  position: relative;
}
.helmetAvatar {
  position: relative;
  top: -25px;
}
img.superpose {
  position: absolute;
	z-index: 10;
}
.weapon.superpose {
  top: 72px;
  left: 2px;
	z-index: 11;
}
.protection.superpose {
  top: 72px;
  left: 68px;
	z-index: 11;
}
.weapon.superpose.mini {
  top: 70px;
  left: 12px;
	z-index: 11;
}
.protection.superpose.mini {
  top: 70px;
  left: 53px;
	z-index: 11;
}
.helmet.superpose {
  top: -50px;
  left: 0px;
	z-index: 11;
}
.player-details li {
	margin : 5px;
	margin-left: -20px;
	font-size : 1.2em;
}
.damage {
  border: 3px solid #000;
  background: #FFF;
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
	background-color: #F00;
	color: #FFF;
	font-size: 1.5em;
}
.bubble-left, .bubble-right {
  display: inline-block;
  border: 3px solid #000;
  background: #FFF;
  padding: 10px;
  margin: 10px;
}
.bubble-left {
  position : relative;
  border-radius: 30px 30px 30px 0px;
  margin-left: 50px;
}
.bubble-right {
  bottom: 0px;
  border-radius: 30px 30px 0px 30px;
  margin-right: 80px;
  max-width: 80%;
}
.frame {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 0px;
}
#foldAll {
  text-align : center;
  cursor: pointer;
}
.folded .panel-title {
  color: #000;
  font-weight: bold;
}
li.teamNews .panel {
  box-shadow: 3px 5px 5px grey;
  margin: 0px;
  max-width: 170px;
}
li.teamNews .panel img {
  max-width: 160px;
}
.newsTags {
  background: lightgrey;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 10px 0px 10px 0px;
  /* box-shadow: 3px 5px 5px grey; */
}
.pad {
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 1.3em;
  padding: 5px;
  background: #FFF;
  width: 75%;
  max-height: 350px;
  overflow: auto;
}
.zoom {
  animation-duration: 0.5s;
  animation-name: zoom;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-direction: alternate;
}
@keyframes zoom {
  from { transform: scale(1);}
  to {transform: scale(2);}
}
@keyframes spin {
  0% { transform: rotate(0deg) scale(1); }
	50% { transform: rotate(180deg) scale(0.8); }
  100% {transform: rotate(360deg) scale(1); }
}
.spin {
  animation-duration: 7s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes explode {
  from { transform: rotate(0deg) scale(1); opacity: 1; left: 0%;}
  to {transform: rotate(-90deg) scale(2); opacity: 0; left: -50%;}
}
.explode {
  animation-duration: 0.5s;
  animation-name: explode;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
.longBlink {
  animation-duration: 3s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes longBlink {
  from { opacity: 1; }
  to { opacity: 0; }
}
.blink {
  animation-duration: 0.3s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  transform: translateZ(0);
}
@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}
.squeeze {
  animation-duration: 0.4s;
  animation-name: squeeze;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  transform: translateZ(0);
}
@keyframes squeeze {
  from { transform: scale(0.9); }
  to { transform: scale(1); }
}
#fightForm {
  display: none;
  border : 2px solid #000;
  border-radius: 30px;
  background: #FFF;
  padding: 20px;
  padding-bottom: 50px;
}
#actionBoard {
  width: 80%;
  border : 2px solid #000;
  border-radius: 30px;
  background: #FFF;
}
.progress {
  height: 15px;
  border: 1px solid #000;
  margin-left: auto;
  margin-right: auto;
}
.progress-mini {
  width: 150px;
  margin-top: 0;
  margin-bottom: 0;
}
.progress-lg {
  height: 25px;
}
.progress span {
  float:left;
  margin: 2px;
}
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.gc {
  position: relative;
  top: -15px;
  left: -5px;
}
.panel {
  border: 1px solid #313131;
  padding: 0px;
  margin: 4px;
}
.panel-body {
  padding: 5px;
}
.panel-heading {
  cursor: pointer;
  /* transform: rotate(-3deg); */
}
img.monsterInfo {
  cursor: pointer;
}
.panel-player {
  height: 349px;
}
.panel-player .panel-body {
}
.btn-group {
  margin: 5px;
}
.btn-group button {
  color: #313131;
}
.btn-primary .caret, .btn-warning .caret, .btn-danger .caret, .btn-info .caret, .btn-success .caret, .btn-inverse .caret {
    border-top-color: #313131;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}
span.glyphicon, .showPopup {
  cursor: pointer;
}
.tooltip-inner {
  border: 2px solid #FFF;
  border-radius: 10px;
  background: #313131;
  box-shadow: 5px 5px 5px #000;
  color: #FFF;
  z-index: 10;
}
.tooltip {
  position: absolute;
}
.tooltip ul li {
  list-style-type: square;
  text-align: left;
}
.trend {
  position: relative;
  padding-left: 10px;
}
.negativeTrend, .positiveTrend, .neutralTrend {
  vertical-align: middle;
  cursor: pointer;
  border-radius: 10px;
  display: inline-block;
  width: 9px;
  height: 9px;
  border: 1px solid #000;
}
.negativeTrend {
  background-color: #F00;
}
.positiveTrend {
  background-color: #74C374;
}
.neutralTrend {
  background-color: transparent;
}
.tipList-light {
  color: #000;
  background: #FFFFFF;
}
.selected {
  border-bottom: 1px solid #000;
}
tr.selected {
  background-color: #FFF;
}
.topic {
  cursor: pointer;
}
.focus, .focus a {
  background-color: #3175AF;
  color: #FFF;
  font-weight: bold;
  padding: 2px;
  border-radius: 5px;
}
.news {
  margin: 20px 0px;
  border-radius: 10px;
}
.monsterPanel {
  padding: 2px;
  margin: 2px 1px;
  border: 1px solid #000;
  border-radius: 10px;
  background : #FFE;
}
.monsterPanelBody {
  border-left : 1px dotted #000;
  /* min-height: 250px; */
}
.monsterPanel .actionBar {
  text-align: center;
  padding: 3px;
  padding-right: 10px;
  border-bottom: 1px solid #000;
}
.monsterPanel .footerBar {
  padding: 3px;
  padding-top : 10px;
  font-weight: bold;
  /* min-height: 70px; */
}
.monsterSelection {
  overflow: auto;
  max-height: 200px;
}
.topics {
  display: inline-block;
  width: 100%;
  padding : 3px;
  font-size: 1.1em;
  margin: 6px 0px;
}
.panel-heading {
  border-radius: 10px 10px 0px 0px;
}
.panel-footer {
  border-radius: 0px 0px 10px 10px;
  word-break : break-all; 
}
.board {
  margin: 10px 0px;
  border-radius: 10px;
}
.board .panel-heading h4 {
	margin: 0px;
	padding: 0px;
}
#decisions {
	display: none;
}
.fame {
	float: left;
}
.fame > span:first-of-type {
  transform: rotate(-8deg);
}
.fame > span ~ span {
	transform: rotate(0deg);
}
.scores ul li {
  margin : 0px 5px;
}
#taskForm td:nth-of-type(0), #taskForm th:nth-of-type(1) {
  text-align: left;
}
#shopForm select, #mapForm select {
  width: 40%;
}
#taskForm select {
  display: inline-block;
  width: 40%;
}
#taskForm input[type="text"] {
  display: inline-block;
  width: 3em;
  padding: 2px;
  text-align: center;
}
#taskForm input.customTask {
  width: 50%;
}
.playerPlaces li img {
  border: 1px solid #000;
}
tr.completed {
  background: lightgreen;
}
tr.almost {
  background: orange;
}
.freeWorld div {
	display: inline;
}
ul.freeworld {
  column-gap: 150px;
}
ul.freeworld li {
  list-style-type: none;
  text-align: right;
}
ul.freeworld li:hover {
  background: lightblue;
}
ul.freeworld li.completedCountry {
  border-left: 2px solid #000;
}
span.completedCountry, span.incompleteCountry {
  padding-left: 3px;
  float: left;
}
span.completedCountry {
  font-weight: bold;
}
.pushRight {
  margin-left: 30px;
}
span.elementSymbol {
  display: inline-block;
	width: 10px;
	height: 10px;
  border-radius: 15px;
  border: 1px solid #000;
  margin: 5px 3px;
  cursor: pointer;
}
span.elementSymbol.completed {
	width: 15px;
	height: 15px;
	background: green;
}
span.elementSymbol.almost {
	width: 15px;
	height: 15px;
}
img.completed {
	width: 140px;
	height: 140px;
	border: 3px solid #000;
	padding: 5px;
	background: green;
	margin: 7px;
}
img.almost {
	width: 100px;
	height: 100px;
	border: 2px solid #000;
	padding: 4px;
	background: orange;
	margin: 7px;
}
img.far {
	width: 70px;
	height: 70px;
	border: 1px solid #000;
	padding: 3px;
	background: red;
	margin: 7px;
}
img.align_right {
  float: right;
}

.MarkupPagerNav {
  clear: both;
  margin: 1em 0;
  font-family: Arial, sans-serif;
}
.MarkupPagerNav li {
  display: inline;
  list-style: none;
  margin: 0;
}
.MarkupPagerNav li a,
.MarkupPagerNav li.MarkupPagerNavSeparator {
  padding: 2px 9px;
  color: #fff;
  background: #2f4248;
  margin-right: 3px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.MarkupPagerNav li.MarkupPagerNavOn a,
.MarkupPagerNav li a:hover {
  color: #fff;
  background: #db1174;
  text-decoration: none;
}
.MarkupPagerNav li.MarkupPagerNavSeparator {
  display: inline;
  color: #777;
  background: #d2e4ea;
  padding-left: 3px;
  padding-right: 3px;
}
#idPlayer {
}
#energyDiv {
  display: none;
}
#goldPlayer, #equipPlayer {
}
.negative, .adminTable tr.negative td, .table tr.negative td {
  background: red;
  color: #FFF;
}
td.participation {
  display: inline-block;
  width: 300px;
  text-align: left;
}
.negative input {
	color: #000;
}
.negative a {
  color: #FFF;
}
.negative:hover, .negative a:hover {
  color: #FFF;
}
.inline { display: inline; }
.double {
  line-height: 2em;
}
.positive {
  background: lightgreen;
}
.strong input[type=checkbox] {
    width:20px;
    height:20px;
}
.strikeText {
  text-decoration: line-through;
}
.notification {
	position: absolute;
	top: 0px;
	right: 0px;
}
table.cm1Table td {
	padding: 3px;
	border : 2px solid #000;
	font-size: 16px;
}
table.cm1Table td.empty {
	border: 0px;
}

table.adminTable {
  cursor:pointer;
  margin: 5px 0px;
  width: 0px; // Hack to adapt width to visible columns
}
td.nowrap {
  white-space: nowrap;
}
td.transparent {
  background: #FFCCE5;
}
table.adminTable thead th, table.adminTable thead td, table.adminTable tbody td {
  padding: 1px;
  border: 1px solid #000;
}
.adminTable .dark {
  border: 1px solid #000;
  background-color: #313131;
  color: #FFF;
}
.hover {
  background-color: darkgrey !important;
}
#teamTable td {
  background: #FFCCE5;
  border: none;
}
.toggleStrike, .pickFromList, .showInfo {
	cursor: pointer;
}
.adminTable td span {
  font-size: 11px;
}
.adminTable td p {
  display: inline;
}
.contrast {
	color: #000;
}
.contrast a {
	color: #000;
  text-decoration : none;
  outline: none;
}
.vertical-text {
	display: inline-block;
	overflow: hidden;
	width: 1.5em;
}
.vertical-text__inner {
	display: inline-block;
	white-space: nowrap;
	line-height: 1.5;
	transform: translate(0,100%) rotate(-90deg);
	transform-origin: 0 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/* This element stretches the parent to be square
   by using the mechanics of vertical margins  */
.vertical-text__inner:after {
	content: "";
	display: block;
	margin: -1.5em 0 100%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#answer {
  display: none;
}
#showAnswer {
  margin: 10px;
  font-size: 1.2em;
}
.quiz img.monster {
  transform: rotate(-8deg);
  margin-right: 30px;
  float: left;
  z-index: 10;
}
@keyframes miniZoom {
  0% : {
    transform: scale(0.9);
    transform: rotate(-8deg);
  }
  100% : {
    transform: scale(1);
    transform: rotate(8deg);
  }
}
.quiz img.avatar {
  transform: rotate(8deg);
  float: right;
  z-index: 10;
}
.quiz .playerName {
  float: right;
  animation: miniZoom 1s infinite;
  background: #FFF;
  color: #000;
  border: 3px solid #000;
  padding: 10px;
  border-radius: 10px;
  z-index: 11;
}
#marketPlaceForm ul li {
  list-style: none;
}
.pdfLink {
  float: left;
  margin: 5px;
}
header {
  display: none;
}
#TOC {
  position: fixed;
  top: 5px;
  right: 5px;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 5px;
  background: #FFF;
}
.hidden {
  display: none;
}
.shown {
  display: block;
}
#reportForm label {
	cursor: pointer;
}
label {
	cursor: pointer;
}
.wrapped {
  word-wrap = break-word;
  white-space: normal;
}
h3.report {
	text-align: center;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 10px;
}
h3.report img  {
	float: left;
}
.utReport {
	padding: 10px;
}
.list-group {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
}
.list-group-item label {
  cursor: pointer;
}
.list-group-item label.disabled {
  text-decoration : line-through;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
.pma {
  border-radius: 10px;
}
.pma .panel-heading {
	padding: 2px 5px;
	background: #313131;
}
.playerDiv {
	border: 1px solid #000;
	margin: 2px;
	padding: 3px;
	border-radius: 5px;
	background: #313131;
}
.monsterDiv {
	cursor: pointer;
	border: 2px solid #000;
	margin: 1px;
	background: #A5CF84;
}
.monsterDiv.fightable {
	border: 3px double #000;
}
.monsterDiv.neverTrained {
	background: #D2FFD2;
}
.monsterDiv.special {
	background: #B11512;
}
.grid {
	width : 100%;
}
.grid-item {
	float: left;
	width: 40px;
	height: auto;
}
.grid-item--width2 {
	width: 80px;
}
.grid-item--width3 {
	width: 120px;
}
.grid-item--width4 {
	width: 160px;
}
.grid-item--width5 {
	width: 200px;
}

.jumbleW {
	cursor: pointer;
	margin: 0px 5px;
  display: inline-block;
}
.category, .tag {
	cursor : crosshair;
	margin: 0px 3px;
	border-radius: 15px;
	border: 2px solid #000;
	padding: 3px;
}
.category:hover {
	background-color: blue;
	color: #FFF;
}

.tag {
  font-size: 1.3em;
  font-weight: bold;
	border-radius: 8px;
  margin : 2px 0px;
}

.top {
  position: absolute;
  top: 30%;
  width : 98%;
  left: 1%;
  padding: 15px 5px;
  font-size: 2.4em;
  font-weight: bold;
  z-index: 9999;
}
.tag:hover {
	background-color: blue;
	color: #FFF;
}

#vocList {
  max-height: 400px;
  padding: 10px;
  overflow: auto;
}
img.showInfo {
	max-width: 150px;
}
img.game {
  cursor: pointer;
  max-height: 150px;
  max-width: 150px;
  border: 1px solid #000;
}
img.bigGame {
  max-height: 40%;
  max-width: 60%;
  border: 1px solid #000;
}

.copybook {
	background: #FFF;
	padding : 10px;
	border-radius: 20px;
	border: 2px solid #000;
	font-size: 1.2em;
}
.copybook h1 {
	text-decoration : underline;
}
.copybook table caption {
	text-align: left;
	text-decoration : underline;
}
.copybook table {
	vertical-align: middle;
}
.copybook table.examples {
	border: 0px;
}
.copybook table.examples td {
	text-align: left;
}
.copybook ul.col2, .copybook ol.col2 {
	column-count: 2;
}
.copybook table.examples ol li {
	list-style-position: inside;
}
.copybook hr {
	width: 30%;
}
.copybook td img {
	float: none;
}
.copybook .date {
	position: absolute;
	text-decoration : underline;
	font-size: 1.1em;
	right: 50px;
}

ul.col2, ol.col2 {
	column-count: 2;
}
ul.col3, ol.col3 {
	column-count: 3;
}
ul.col4, ol.col4 {
	column-count: 4;
}
ul.col5, ol.col5 {
	column-count: 5;
}
ul.col6, ol.col6 {
	column-count: 6;
}
ul.col7, ol.col7 {
	column-count: 7;
}
ul.col8, ol.col8 {
	column-count: 8;
}



#discount { display: none; }

fieldset {
	margin: 5px;
	border: 1px solid #000;
	padding: 5px;    
	border-radius: 4px;
}

legend {
	padding: 2px;    
	width: auto;
}
#allOptions {
	display: none;
}
span.paTagUnderlined {
	text-decoration : underline;
}
span.paTagFramed {
	border: 1px solid #000;
}
span.paTagItalicised {
	font-style: oblique;
}

.alert {
	border: 1px solid #000;
}

.announcement {
  font-size: 1.2em;
  background: #FFF;
}

#helpAlert { display: none; }

.actionBtn { margin: 5px; }

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; /1* The typwriter cursor *1/ */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.carousel img {
  margin: auto;
  border: 2px solid #000;
}
.carousel-caption {
  background: #000;
  opacity: 0.7;
  border-radius: 5px;
  border: 2px solid #FFF;
  padding: 2px;
}
.carousel-caption * {
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}
.carousel-indicators {
  position: absolute;
  top: 10px;
}
.banner {
  height: 100px;
}
.banner .avatarContainer {
  margin : 0px 10px;
}
.myPanel {
  border: 1px solid #000;
  border-radius : 10px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  position: relative;
  bottom: -10px;
}
ul.defeated.style1 .myPanel .detailled,
ul.defeated.style2 .myPanel .detailled,
ul.defeated.style4 .myPanel .detailled
{
  display: none;
}
ul.defeated.style2 .myPanel {
  display: none;
}
ul.defeated.style1 .myPanel {
  bottom: -3px;
}
ul.defeated.style3 .myPanel {
  font-size: 0.7em;
  border: 1px solid #000;
  border-radius: 0px;
}
.level-1 {
  background: #FFF;
  color: #000;
}
.level-2 {
  background: #FF3;
  color ; #000;
}
.level-3 {
  background: #CC0;
  color: #000;
}
.level-4 {
  background: #330;
  color : #FFF;
}
ul.defeated.style3 .myPanel.level-1,
ul.defeated.style3 .myPanel.level-2,
ul.defeated.style3 .myPanel.level-3,
ul.defeated.style3 .myPanel.level-4
{
  background: none;
}
ul.defeated.style1 li img {
  border: 2px solid #000;
  padding: 3px;
}
ul.defeated.style2 li div {
  border: 1px solid #000;
  border-radius : 10px;
}
ul.defeated.style1 li:nth-of-type(odd) {
  transform: rotate(10deg);
}
ul.defeated.style1 li:nth-of-type(3n) {
  transform: rotate(-10deg);
}
.eventLi {
  cursor: pointer;
}
.eventLi:hover {
  background: #FFF;
  border: none;
}
.eventList {
  display: table;
  margin: auto;
}
ul.eventsList {
  height: 300px;
  overflow: auto;
}
ul.eventsList li.hover {
  background: #FFF;
}
.absRight {
  position: absolute;
  right: 10px;
  transform: rotate(5deg);
}
.monsterActivity {
  border: 1px solid #606;
  border-radius : 10px;
  background: #FFF;
  padding: 10px;
  width: 90%;
  height: 340px;
}
.circle {
  cursor: pointer;
}

.megaMonster {
  background-color: lightgrey;
  border-top : 1px solid #000;
  border-right : 2px solid #000;
  border-left : 2px solid #000;
  border-bottom : 4px solid #000;
  border-radius : 0px 0px 30px 30px;
  width: 100%;
}
.megaMonster table {
  width: 100%;
  font-size: 1.5em;
}
.megaMonster table th {
  border-bottom: 1px solid #000;
  padding-left: 5px;
  cursor: default;
  font-size: 2em;
}
.megaMonster table td {
  padding: 10px;
}
/* custom stylings */
:root {
  --active-bg-color: #1975CF;
  --active-text-color: lightgrey;
  --hightlight-active-bg-color: #FFF;
  --hightlight-active-text-color:#000;
  --inactive-bg-color: #FFF;
  --inactive-text-color: #000;
  --line-width: 10%;
  --active-circle-diam: 40px;
  --inactive-circle-diam: 25px;
}

/* --- breadcrumb component --- */
ul.timeline {
  position:relative;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
ul.timeline li:only-child {
  margin: auto;
}

/* lines */
ul.timeline li:not(:last-child):after {
  content: '';
  position: absolute;
  top: calc((100% - var(--line-width)) / 2);
  height: var(--line-width);
}
/* circles */
ul.timeline li {
  overflow: hidden;
  text-align:center;
  border-radius: 50%;
  text-indent: 0;
  list-style-type: none;
  border: 1px solid #000;
  z-index: 0;
}

/* active styling */
ul.timeline li,
ul.timeline li:not(:last-child):after {
  background: var(--active-bg-color);
  color: var(--active-text-color);
  cursor: pointer;
}

/* inactive styling */
ul.timeline li.active:after,
ul.timeline li.active ~ li,
ul.timeline li.active ~ li:not(:last-child):after {
  background: var(--inactive-bg-color);
  color: var(--inactive-text-color);
  border: 1px solid lightgrey;
}

ul.highlight-active li.active {
  background: var(--hightlight-active-bg-color);
  color: var(--hightlight-active-text-color);
  border: 2px solid #000;
}

/* circle sizing */
ul.timeline li.active {
  width: var(--active-circle-diam);
  height: var(--active-circle-diam);
  line-height: calc(var(--active-circle-diam) + 0.1rem);
  font-size: calc(var(--active-circle-diam) / 1.6);
}
ul.timeline li:not(.active) {
  width: var(--inactive-circle-diam);
  height: var(--inactive-circle-diam);
  line-height: calc(var(--inactive-circle-diam) + 0.1rem);
  font-size: calc(var(--inactive-circle-diam) / 1.6);
}

/* 
Calculate ddynamic width using css3 only.
N.B. if you know the total count, hardcode away!
*/
ul.timeline li:first-child:nth-last-child(2):not(:last-child):after,
ul.timeline li:first-child:nth-last-child(2) ~ li:not(:last-child):after {
    width: calc((100% - 2rem) / 1);
}
ul.timeline li:first-child:nth-last-child(3):not(:last-child):after,
ul.timeline li:first-child:nth-last-child(3) ~ li:not(:last-child):after {
    width: calc((100% - 2rem) / 2);
}
ul.timeline li:first-child:nth-last-child(4):not(:last-child):after,
ul.timeline li:first-child:nth-last-child(4) ~ li:not(:last-child):after {
    width: calc((100% - 2rem) / 3);
}
ul.timeline li:first-child:nth-last-child(5):not(:last-child):after,
ul.timeline li:first-child:nth-last-child(5) ~ li:not(:last-child):after {
    width: calc((100% - 2rem) / 4);
}
ul.timeline li:first-child:nth-last-child(6):not(:last-child):after,
ul.timeline li:first-child:nth-last-child(6) ~ li:not(:last-child):after {
    width: calc((100% - 2rem) / 5);
}
ul.timeline li:first-child:nth-last-child(7):not(:last-child):after,
ul.timeline li:first-child:nth-last-child(7) ~ li:not(:last-child):after {
    width: calc((100% - 2rem) / 6);
}
ul.timeline li:first-child:nth-last-child(8):not(:last-child):after,
ul.timeline li:first-child:nth-last-child(8) ~ li:not(:last-child):after {
    width: calc((100% - 2rem) / 7);
}

/* Large desktop */
@media (min-width: 1200px) { 
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 768px) { 
  #masthead {
    background-size: 10%;
    background-position: 98% 90%;
    height: 180px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) { 
  #masthead {
    background-size: 10%;
    background-position: 98% 90%;
    font-size: 12px;
    height: 270px;
    padding: 3px 5px;
  }
  #masthead a {
    padding: 48px 5px 15px 5px;
  }
  ul.utReport,
  ul.col2, ol.col2,
  ul.col3, ol.col3,
  ul.col4, ol.col4,
  ul.col5, ol.col5,
  ul.col6, ol.col6 {
    column-count: 1;
  }
  .avatarContainer {
    display: none;
  }
}
